.nameplate-text
  .name Brooks Mason
  .description Software Engineer
.banner
  .nameplate
  #resume-container
    %i.fa.fa-cloud-download.fa-2x.pdf
    %span.text-box
    .resume resumé
  .credit
    =link_to "credit", 'https://github.com/bmander/graphserver', target: '_blank'
.contact-bar
  .icons
    %a{ target: '_blank', href: "mailto:me@brooksmason.com" }
      %i.fa.fa-envelope.fa-2x.awesome
    %a{ target: '_blank', href: "https://github.com/brooks" }
      %i.fa.fa-github.fa-2x.awesome
    %a{ target: '_blank', href: "http://grog.brooksmason.com" }
      %i.fa.fa-home.fa-2x.awesome
    %a{ target: '_blank', href: "http://www.linkedin.com/pub/brooks-mason/2b/825/834" }
      %i.fa.fa-linkedin.fa-2x.awesome
    %a{ target: '_blank', href: "https://twitter.com/broppler" }
      %i.fa.fa-twitter.fa-2x.awesome
